<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Ícones -->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css"
    />
    <title>Nexus Store</title>
  </head>
  <body>
    <header>
      <h1>NEXUS STORE</h1>
      <input type="text" name="" id="" />
      <a href="#"><i class="fi fi-rr-shopping-cart"></i></a>
      <a href="#"><i class="fi fi-ss-star"></i></a>
    </header>
    <main class="produtos-content">
      <!-- <div class="produto">
        <img
          src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
          alt=""
          class="img-produto"
        />
        <h2 class="nome">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h2>
        <p class="descricao">
          Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15
          inches) in the padded sleeve, your everyday
        </p>
        <div>
          <p class="valor">109.95</p>
          <p><span class="vendidos">120</span><span class="avaliacao">3.9</span></p>
        </div>
      </div> -->
    </main>
    <footer>
      <!-- <p>Entre em contato conosco:</p> -->
    </footer>
    <script src="/js/produtos.js"></script>
  </body>
</html>
