@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Oxygen:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  max-height: 15vh;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.7rem;
  justify-content: space-between;
}

header h1 {
  max-width: 30%;
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

header .icons,
.search {
  display: flex;
  justify-content: end;
  align-items: center;
}

header .nav-content {
  width: 70%;
}

header .shop-cart {
  font-size: 25px;
  margin-right: 0.4rem;
}

header .quantity {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  left: 94%;
  padding: 1px 6px;
  font-size: 10px;
}

header .search {
  min-height: 1.7rem;
}

header .search input {
  min-width: 80%;
  border-radius: 25px;
  padding: 0.2rem 0.3rem;
  font-size: 10px;
}

header .search button {
  border-radius: 50%;
  height: 1.7rem;
  width: 1.7rem;
  font-size: 1rem;
  border: none;
  background: none;
}

/* Footer */

footer {
  max-height: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.6rem;
}

address {
  margin-top: 0.3rem;
  font-style: italic;
}

address > * {
  display: inline-block;
  margin: 0.3rem;
  text-align: left;
}

footer h3 {
  font-size: 1rem;
  font-weight: bold;
}

footer > p {
  font-weight: bold;
}

/* MAIN - Produtos */
.produtos-content {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  padding: 10px;
  place-items: center;
}

.card {
  max-width: 97%;
  height: 100%;
  width: 150px;
  max-height: 310px;
  padding: 0.6rem;
  margin: 7px 0;
  gap: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.image {
  position: relative;
  width: 100%;
  height: 57%;
  padding: 7px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  mix-blend-mode: darken;
}

svg {
  width: 20px;
  height: 20px;
}

.card-info {
  text-align: left;
  height: 33%;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  margin-top: 7px;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1.5;
}

/*Button*/
.card-button {
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.card-button svg {
  height: 22px;
  width: 22px;
  margin-top: 2px;
  margin-left: 1px;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1em;
}

.name {
  overflow: hidden;
  height: 75%;
}

.rate {
  height: 25%;
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 7px;
  padding-bottom: 5px;
}

/* Avaliação */

.rating {
  display: inline-block;
}

.rating .input {
  display: none;
}

.rating .label {
  float: right;
  cursor: pointer;
  transition: color 0.3s;
}

.rating .label:before {
  content: "\2605";
  font-size: 25px;
}

@media only screen and (max-width: 480px) {
  .produtos-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1025px) {
  .produtos-content {
    grid-template-columns: repeat(8, 1fr);
  }
  .card {
    width: 90%;
  }
}
