@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Oxygen:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #fdfdfd;
  /* background-color: #042940; */
  height: auto;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background-color: aqua;
  max-height: 15vh;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0.7rem;
  justify-content: space-between;
}

header h1 {
  max-width: 30%;
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

header .icons,
.search {
  display: flex;
  justify-content: end;
  align-items: center;
}

header .nav-content {
  width: 70%;
}

header .shop-cart {
  color: #000;
  margin-left: 1.3rem;
  font-size: 22px;
  text-decoration: none;
}

.favs .container-favs {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  fill: #ffeb49;
  margin-left: 10px;
}

.container-favs svg {
  width: 37px;
  height: 37px;
}

.container-favs input[type="checkbox"] {
  display: none;
}

header .search {
  min-height: 1.7rem;
}

header .search input {
  min-width: 80%;
  border-radius: 25px;
  padding: 0.2rem 0.3rem;
  font-size: 10px;
}

header .search button {
  border-radius: 50%;
  height: 1.7rem;
  width: 1.7rem;
  font-size: 1rem;
  border: none;
  background: none;
}

/* Footer */

footer {
  background-color: #e0e0e0;
  max-height: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.6rem;
}

address {
  margin-top: 0.3rem;
  font-style: italic;
}

address > * {
  display: inline-block;
  margin: 0.3rem;
  text-align: left;
}

footer h3 {
  font-size: 1rem;
  font-weight: bold;
}

footer > p {
  font-weight: bold;
}

/* MAIN - Produtos */
.produtos-content {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  padding: 7px;
  width: 100%;
}

.card {
  max-width: 97%;
  height: 100%;
  width: 100%;
  max-height: 310px;
  background-color: #e0e0e0;
  padding: 0.6rem;
  margin: 4px 0;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.image {
  position: relative;
  width: 100%;
  height: 57%;
  padding: 7px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  mix-blend-mode: darken;
}

svg {
  width: 20px;
  height: 20px;
}

.card-info {
  text-align: left;
  height: 33%;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1.5;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1em;
}

.name {
  overflow: hidden;
  height: 75%;
}

.rate {
  height: 25%;
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 5px;
}

/* Avaliação */

.rating {
  display: inline-block;
}

.rating .input {
  display: none;
}

.rating .label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating .label:before {
  content: "\2605";
  font-size: 25px;
  text-shadow: inset 0 0 21px #ffeb49;
}

.rating .input:checked ~ .label,
.rating .label:hover,
.rating .label:hover ~ .label {
  transition: color 0.3s;
}

@media only screen and (max-width: 480px) {
  .produtos-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
